.App {
  max-width: 860px;
  margin: 20px auto;
}

button {
  background: green;
  border: 2px solid rgb(252, 238, 46);
  padding: 6px 12px;
  border-radius: 4px;
  color: rgb(252, 238, 46);
  font-weight: bold;
  cursor: bold;
  font-size: 1em;
  transition: 0.5s;
}

button:hover {
  background-color: #5222c2;
  color: #fff;
  border: 2px solid #fff
}

.card-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px
}


p {
  display: inline;
  background-color: green;
  font-weight: 900;
  border-radius: 4px;
  padding: 2px 8px
}